html, body
{
    
    color: white;
    margin: 0;
    font-family: 'Hind Siliguri', sans-serif;
    /* overflow-x: hidden; */
}



h1
{
    font-size: 8vw;
    
}

h3
{
    font-size: 50px;
}

.header
{
    text-align: center;
    font-family: 'Hind Siliguri', sans-serif;
    left: 0; top: 0;
    position: absolute;
    height: 100vh;
    width: 100%;
    text-align: center;
    display:block;
    align-items: center;
    justify-content: center;

    
}

.title-text
{
    margin-top: 25%;
    margin-bottom: 25%;
    height: 50%;
}

.inline-header
{

    display: block;
    font-size: 8vw;

}

#inline-for
{
    font-size: 4vw;
}

.main
{
    margin: 3%;
    background: rgba(0,0,0, 0.66);
}

.text-wrapper
{
    margin: 3%;
}

.do-list
{
    
    padding-left: 0px;
}

.video-wrapper
{
    position: relative;
    overflow: hidden;
    height: 100vh;
}
#snowVideo
{
    /*position:fixed;*/
    /*z-index: -1;
    height: 100vh;
    position: absolute;
    object-fit: cover;*/
    /*top: 0; right: 0; bottom: 0; left: 0;*/
    object-fit: cover;
    height: 100vh;
    max-width: 100%;
    position: absolute;
    top: 0;
    z-index: -1 !important;
    left: 0;
}